<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Education Time | Videolar</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="../layout/styles/layout.css" type="text/css" />
<script type="text/javascript" src="../layout/scripts/jquery.min.js"></script>
<!-- prettyPhoto -->
<link rel="stylesheet" href="../layout/scripts/prettyphoto/prettyPhoto.css" type="text/css" />
<script type="text/javascript" src="../layout/scripts/prettyphoto/jquery.prettyPhoto.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("a[rel^='prettyPhoto']").prettyPhoto({
        theme: 'dark_rounded',
        overlay_gallery: false,
        social_tools: false
    });
});
</script>
<!-- / prettyPhoto -->
</head>
<body id="top">
<%- include('partials/_menu.ejs') %>
<!-- ####################################################################################################### -->
<div class="wrapper row4">
  
  <div class="video_container">
    <h1>Dashboard Page user: <%= user.username %> kullanıcı id: <%= user._id %></h1>
  </div>
  

  
    <!-- ####################################################################################################### -->
    <div class="clear"></div>
  
</div>
<!-- ####################################################################################################### -->
<%- include('partials/_footer.ejs') %>
</body>
</html>



