<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Education Time | Güncel</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="../layout/styles/layout.css" type="text/css" />
</head>
<body id="top">
<%- include('partials/_menu.ejs') %>
<!-- ####################################################################################################### -->
<div class="wrapper row4">
  <div id="container" class="clear"> 
    <!-- ####################################################################################################### -->
    <div id="content">
      <h1>Web Tasarımında Erişilebilirlik Neden Önemli?</h1>
<img class="imgr" src="../images/demo/imgr.gif" alt="Erişilebilir web tasarımı örneği" width="125" height="125" />
<p>Günümüzde web sitelerinin %98'inden fazlası erişilebilirlik standartlarını karşılamıyor. Oysa iyi tasarlanmış bir arayüz, engelli kullanıcıların yanı sıra tüm ziyaretçiler için daha iyi bir deneyim sunar.</p>

<h2>Erişilebilir Tasarım İçin 5 Altın Kural</h2>
<img class="imgl" src="../images/demo/imgl.gif" alt="Erişilebilirlik simgeleri" width="125" height="125" />
<ol>
    <li><strong>Renk kontrastı:</strong> Metin ve arkaplan arasında en az 4.5:1 oranında kontrast</li>
    <li><strong>Klavye navigasyonu:</strong> Tüm fonksiyonlara klavye ile erişim</li>
    <li><strong>Alternatif metinler:</strong> Görseller için açıklayıcı alt metinler</li>
    <li><strong>Yapılandırılmış içerik:</strong> Doğru başlık hiyerarşisi (h1-h6)</li>
    <li><strong>Responsive tasarım:</strong> Tüm cihazlarda kullanılabilirlik</li>
</ol>

<h3>Erişilebilirlik = Daha İyi SEO</h3>
<p>Google'ın son algoritma güncellemeleri, erişilebilir sitelere daha yüksek sıralama avantajı sağlıyor. Erişilebilirlik standartlarını uygulayan sitelerin:</p>
<ul>
    <li>Ortalama sayfada kalma süresi %35 daha uzun</li>
    <li>Mobil dönüşüm oranları %20 daha yüksek</li>
    <li>Yeniden ziyaret oranı %45 daha fazla</li>
</ul>

<p class="notice"><strong>İstatistik:</strong> 2023 verilerine göre, erişilebilir sitelerin yatırım getirisi (ROI) %72 daha yüksek olarak ölçülmüştür.</p>

<h4>Başlamak İçin Ücretsiz Araçlar</h4>
<p>Erişilebilirliğinizi test etmek için şu araçları kullanabilirsiniz:</p>
<ul>
    <li><a href="https://wave.webaim.org/" target="_blank">WAVE Web Accessibility Tool</a></li>
    <li><a href="https://www.deque.com/axe/" target="_blank">axe Accessibility Checker</a></li>
    <li><a href="https://contrast-ratio.com/" target="_blank">Contrast Ratio Hesaplayıcı</a></li>
</ul>
      <h2>Table(s)</h2>
      <table summary="Summary Here" cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th>Header 1</th>
            <th>Header 2</th>
            <th>Header 3</th>
            <th>Header 4</th>
          </tr>
        </thead>
        <tbody>
          <tr class="light">
            <td>Value 1</td>
            <td>Value 2</td>
            <td>Value 3</td>
            <td>Value 4</td>
          </tr>
          <tr class="dark">
            <td>Value 5</td>
            <td>Value 6</td>
            <td>Value 7</td>
            <td>Value 8</td>
          </tr>
          <tr class="light">
            <td>Value 9</td>
            <td>Value 10</td>
            <td>Value 11</td>
            <td>Value 12</td>
          </tr>
          <tr class="dark">
            <td>Value 13</td>
            <td>Value 14</td>
            <td>Value 15</td>
            <td>Value 16</td>
          </tr>
        </tbody>
      </table>
      <div id="comments">
        <h2>Comments</h2>
        <ul class="commentlist">
          <li class="comment_odd">
            <div class="author"><img class="avatar" src="../images/demo/avatar.gif" width="32" height="32" alt="" /><span class="name"><a href="#">Kullanıcı A</a></span> <span class="wrote">wrote:</span></div>
            <div class="submitdate"><a href="#">August 4, 2009 at 8:35 am</a></div>
            <p>Bu, bir gönderiye yapılan bir yorumun örneğidir. Bu yorumu düzenleyebilir, silebilir veya yorumu yanıtlayabilirsiniz. Bu alanı, gönderiye yanıt vermek veya düşüncelerinizi paylaşmak için kullanabilirsiniz.</p>
          </li>
          <li class="comment_even">
            <div class="author"><img class="avatar" src="../images/demo/avatar.gif" width="32" height="32" alt="" /><span class="name"><a href="#">Kullanıcı B</a></span> <span class="wrote">wrote:</span></div>
            <div class="submitdate"><a href="#">August 4, 2009 at 8:35 am</a></div>
            <p>Bu, bir gönderiye yapılan bir yorumun örneğidir. Bu yorumu düzenleyebilir, silebilir veya yorumu yanıtlayabilirsiniz. Bu alanı, gönderiye yanıt vermek veya düşüncelerinizi paylaşmak için kullanabilirsiniz.</p>
          </li>
        </ul>
      </div>
      <h2>Bir yorum bırak</h2>
      <div id="respond">
        <form action="#" method="post">
          <p>
            <input type="text" name="name" id="name" value="" size="22" />
            <label for="name"><small>Adın*</small></label>
          </p>
          <p>
            <input type="text" name="email" id="email" value="" size="22" />
            <label for="email"><small>Mail*</small></label>
          </p>
          <p>
            <textarea name="comment" id="comment" cols="100%" rows="10"></textarea>
            <label for="comment" style="display:none;"><small>Mesajın*</small></label>
          </p>
          <p>
            <input name="submit" type="submit" id="submit" value="Gönder" />
            &nbsp;
            <input name="reset" type="reset" id="reset" tabindex="5" value="Formu temizle" />
          </p>
        </form>
      </div>
    </div>
    <div id="column">
      <div class="subnav">
        <h2>İkinci menü</h2>
        <ul>
          <li><a href="#">Navigation - Level 1</a></li>
          <li><a href="#">Navigation - Level 1</a>
            <ul>
              <li><a href="#">Navigation - Level 2</a></li>
              <li><a href="#">Navigation - Level 2</a></li>
            </ul>
          </li>
          <li><a href="#">Navigation - Level 1</a>
            <ul>
              <li><a href="#">Navigation - Level 2</a></li>
              <li><a href="#">Navigation - Level 2</a>
                <ul>
                  <li><a href="#">Navigation - Level 3</a></li>
                  <li><a href="#">Navigation - Level 3</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#">Navigation - Level 1</a></li>
        </ul>
      </div>
      <div class="holder">
        <h2 class="title"><img src="../images/demo/60x60.gif" alt="" />Nullamlacus dui ipsum conseque</h2>
        <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque.</p>
        <p class="readmore"><a href="#">Okumaya devam et &raquo;</a></p>
      </div>
      <div id="featured">
        <ul>
          <li>
            <h2>Indonectetus facilis</h2>
            <p class="imgholder"><img src="../images/demo/240x90.gif" alt="" /></p>
            <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipisciniapellentum leo ut consequam ris felit elit id nibh sociis malesuada.</p>
            <p class="readmore"><a href="#">Okumaya devam et &raquo;</a></p>
          </li>
        </ul>
      </div>
      <div class="holder">
        <h2>Lorem ipsum dolor</h2>
        <p>Nuncsed sed conseque a at quismodo tris mauristibus sed habiturpiscinia sed.</p>
        <ul>
          <li><a href="#">Lorem ipsum dolor sit</a></li>
          <li>Etiam vel sapien et</li>
          <li><a href="#">Etiam vel sapien et</a></li>
        </ul>
        <p>Nuncsed sed conseque a at quismodo tris mauristibus sed habiturpiscinia sed. Condimentumsantincidunt dui mattis magna intesque purus orci augue lor nibh.</p>
        <p class="readmore"><a href="#">Okumaya devam et &raquo;</a></p>
      </div>
    </div>
    <!-- ####################################################################################################### -->
    <div class="clear"></div>
  </div>
</div>
<!-- ####################################################################################################### -->
<%- include('partials/_footer.ejs') %>
</div>
</body>
</html>