<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Tasarım Atlası</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="/layout/styles/layout.css" type="text/css" />
<script type="text/javascript" src="/layout/scripts/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<!-- liteAccordion is Homepage Only -->
<link rel="stylesheet" href="/layout/scripts/liteaccordion-v2.2/css/liteaccordion.css" type="text/css" />
</head>
<body id="top">
<%- include('partials/_menu.ejs') %>
<!-- ####################################################################################################### -->
<div class="wrapper row3">
  <div id="featured_slide"> 
    <!-- ####################################################################################################### -->
    <ol>
      <li>
        <h2><span>Slide 1</span></h2>
        <div><img src="images/demo/featured-slide/720x360.gif" alt="" /></div>
      </li>
      <li>
        <h2><span>Slide 2</span></h2>
        <div><img src="images/demo/featured-slide/720x360.gif" alt="" /></div>
      </li>
      <li>
        <h2><span>Slide 3</span></h2>
        <div><img src="images/demo/featured-slide/720x360.gif" alt="" /></div>
      </li>
      <li>
        <h2><span>Slide 4</span></h2>
        <div><img src="images/demo/featured-slide/720x360.gif" alt="" /></div>
      </li>
      <li>
        <h2><span>Slide 5</span></h2>
        <div><img src="images/demo/featured-slide/720x360.gif" alt="" /></div>
      </li>
    </ol>
    <!-- ####################################################################################################### --> 
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row4">
  <div id="container" class="clear"> 
    <!-- ####################################################################################################### -->
    <div id="homepage" class="clear">
      <div class="fl_left">
        <h2 class="title">Eğİtİmler</h2>
        <div id="hpage_quicklinks">
          <ul class="clear">
            <li><a href="#">Örnek link - 1</a></li>
            <li><a href="#">Örnek link - 2</a></li>
            <li><a href="#">Örnek link - 3</a></li>
            <li><a href="#">Örnek link - 4</a></li>
           
          </ul>
        </div>
        <h2 class="title">Güncel Tasarımlar</h2>
        <div id="hpage_gallery">
          <ul class="clear">
            <li><a href="#"><img src="images/demo/175x130.gif" alt="" /></a></li>
            <li class="last"><a href="#"><img src="images/demo/175x130.gif" alt="" /></a></li>
            <li><a href="#"><img src="images/demo/175x130.gif" alt="" /></a></li>
            <li class="last"><a href="#"><img src="images/demo/175x130.gif" alt="" /></a></li>
          </ul>
        </div>
        <h2 class="title">Sosyal Medya</h2>
        <div id="hpage_socialize">
          <ul>
            <li><span>Facebook:</span> <a href="#">www.facebook.com</a></li>
            <li><span>Twitter:</span> <a href="#">www.twitter.com</a></li>
            <li class="last"><span>LinkedIn:</span> <a href="#">www.linkedin.com</a></li>
          </ul>
          <p><strong>Bültenimize abone olun:</strong></p>
          <p>Justoid nonummy laoreet phasellent penatoque in antesque pellus elis eget tincidunt. Nequatdui laorem justo a non tellus laoreet tincidunt ut vel velit.</p>
          <form action="#" method="post">
            <fieldset>
              <legend>Newsletter Signup:</legend>
              <input type="text" id="newsletter" value="Email adresiniz&hellip;" onfocus="this.value=(this.value=='Email adresiniz&hellip;')? '' : this.value ;" />
              <input type="image" id="subscribe" src="layout/images/sign-up.gif" alt="Submit" />
            </fieldset>
          </form>
          <p class="form_hint">*lütfen name@domain.com şeklinde yazın. </p>
        </div>
      </div>
      <!-- ############### -->
      <div class="fl_right">
        <h2 class="title">Son Yazılar</h2>
        <div id="hpage_latestnews">
          <ul>
            <li>
              <div class="imgl"><img src="images/demo/160x80.gif" alt="" /></div>
              <p class="latestnews">Örnek bir ön izleme cümlesi. Burada kısa bilgiler yer alacak. <a href="#" title="Free Website Templates">Link - 1</a>. Bir başka link örneği için <a href="#">Link - 2</a>.</p>
              <p class="readmore"><a href="#">Okumaya devam et &raquo;</a></p>
            </li>
            <li>
              <div class="imgl"><img src="images/demo/160x80.gif" alt="" /></div>
              <p class="latestnews"></a>Örnek bir ön izleme cümlesi. Burada kısa bilgiler yer alacak.Örnek bir ön izleme cümlesi. Burada kısa bilgiler yer alacak.Örnek bir ön izleme cümlesi. Burada kısa bilgiler yer alacak.</p>
              <p class="readmore"><a href="#">Okumaya devam et &raquo;</a></p>
            </li>
            <li class="last">
              <div class="imgl"><img src="images/demo/160x80.gif" alt="" /></div>
              <p class="latestnews">Attincidunt vel nam a maurisus lacinia consectetus magnisl sed ac morbi. Inmaurisus habitur pretium eu et ac vest penatibus id lacus parturpis. Maecenaset adipiscinia tellentum nullam velit et a convallis curabitae vitae laoreet niseros ligula sem sed susp en at.</p>
              <p class="readmore"><a href="#">Okumaya devam et &raquo;</a></p>
            </li>
          </ul>
        </div>
        <div id="hpage_specials" class="clear">
          <ul>
            <li>
              <h2 class="title">Sanal Tur</h2>
              <div class="box">
                <div class="imgholder"><img src="images/demo/160x160.gif" alt="" /></div>
                <p>Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phasellus sagittitor ant curabiturpis molesuada amet. Tricessem faucibulum sit sed eleifendisse accumsan justo in tor vel purus.</p>
                <p class="readmore"><a href="#">Take The Tour &raquo;</a></p>
              </div>
            </li>
            <li>
              <h2 class="title">Aktiviteler</h2>
              <div class="box">
                <p><strong>Jan 01:</strong> <a href="#">Satranç Turnuvası</a></p>
                <div class="imgholder"><img src="images/demo/160x80.gif" alt="" /></div>
                <p>Vestassapede et donec ut est liberos sus et eget sed eget.</p>
              </div>
              <div class="box">
                <p><strong>Jan 06:</strong> <a href="#"></a>Basketbol</p>
                <div class="imgholder"><img src="images/demo/160x80.gif" alt="" /></div>
                <p>Vestassapede et donec ut est liberos sus et eget sed eget.</p>
              </div>
            </li>
            <li class="last">
              <h2 class="title">Yaklaşan Etkinlikler</h2>
              <div class="box">
                <p><a href="#">Magna phasellus</a></p>
                <p>Pazartesi</p>
                <p>Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phasellus sagittitor ant curabiturpis.</p>
              </div>
              <div class="box">
                <p><a href="#">Sentumquisque morbi dui congue tincidunt eu quis</a></p>
                <p>Salı</p>
                <p>Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phasellus sagittitor ant.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- ####################################################################################################### --> 
  </div>
</div>
<!-- ####################################################################################################### -->
<%- include('partials/_footer.ejs') %>
<!-- liteAccordion is Homepage Only --> 
<script type="text/javascript" src="/layout/scripts/liteaccordion-v2.2/js/liteaccordion.jquery.min.js"></script> 
<script type="text/javascript">
$("#featured_slide").liteAccordion({
    theme: "os-tpl",
    containerWidth: 960, // fixed (px)
    containerHeight: 360, // fixed (px) - overall height of the slider
    headerWidth: 48, // fixed (px) - slide spine title
    firstSlide: 1, // displays slide (n) on page load
	activateOn: "click", // click or mouseover
    autoPlay: false, // automatically cycle through slides
    pauseOnHover: true, // pause slides on hover
    rounded: false, // square or rounded corners
    enumerateSlides: true, // put numbers on slides
    slideSpeed: 800, // slide animation speed
    cycleSpeed: 6000, // time between slide cycles
});
</script>
</body>
</html>